<wicket:panel>
	<div style="background-color: #f8ffff; border:1px solid #a3ffff">
		<form wicket:id="form">
			<input wicket:id="EMail"><br>
			<wicket:container wicket:id="EMail.Fehler"></wicket:container><br>
			<input wicket:id="Password" type="password"><br>
			<wicket:container wicket:id="Password.Fehler"></wicket:container><br>
			<input wicket:id="Password2" type="password"><br>
			<wicket:container wicket:id="Password2.Fehler"></wicket:container><br>
			<button wicket:id="submit">Registrieren</button><br>
		</form>
	</div>
</wicket:panel>