<?xml version="1.0" encoding="ISO-8859-1"?>

<!--DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.4//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_4.dtd"-->

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">
  <display-name>wicketpraxis.de</display-name>
  <description>
    Wicket Praxis
  </description>

	<!-- The SpringWebApplicationFactory will need access to a Spring Application context, configured like this... -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
 
	<filter>
		<filter-name>de.wicketpraxis.webapp</filter-name>
 		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>de.wicketpraxis.web.WicketPraxisApplication</param-value>
 		</init-param>
		<init-param>
			<param-name>configuration</param-name>
			<param-value>deployment</param-value>
		</init-param>
 	</filter>
 	
 	<!-- Example: Session -->
	<filter>
		<filter-name>de.wicketpraxis.apps.session</filter-name>
 		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>de.wicketpraxis.apps.session.SecurePageApplication</param-value>
 		</init-param>
		<init-param>
			<param-name>configuration</param-name>
			<param-value>deployment</param-value>
		</init-param>
 	</filter>
 	
 	<!-- Example: App -->
	<filter>
		<filter-name>de.wicketpraxis.apps.example</filter-name>
 		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>de.wicketpraxis.apps.example.WicketExampleApplication</param-value>
 		</init-param>
		<init-param>
			<param-name>configuration</param-name>
			<param-value>deployment</param-value>
		</init-param>
 	</filter>
 	
	<!-- compression filter -->
  <filter>
	  <filter-name>de.wicketpraxis.webapp.pjl</filter-name>
  	<filter-class>com.planetj.servlet.filter.compression.CompressingFilter</filter-class>
	</filter>

  <filter>
	  <filter-name>de.wicketpraxis.webapp.robots</filter-name>
  	<filter-class>de.wicketpraxis.web.thema.howto.servletfilter.RobotJSessionIDUrlFilter</filter-class>
	</filter>

  <filter>
	  <filter-name>de.wicketpraxis.webapp.sessionurl</filter-name>
  	<filter-class>de.wicketpraxis.web.thema.howto.servletfilter.DisabledJSessionIDinUrlFilter</filter-class>
	</filter>



	<!-- open session in view filter -->
 	<filter>
 		<filter-name>de.wicketpraxis.hibernate.osv</filter-name>
 		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
 	</filter>
	 
  <!-- Filter Mapping -->
	<filter-mapping>
		<filter-name>de.wicketpraxis.hibernate.osv</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- optional filter -->
	<filter-mapping>
		<filter-name>de.wicketpraxis.webapp.robots</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- eigentlich reicht der, da er immer die session id in der url ausschaltet -->
	<filter-mapping>
		<filter-name>de.wicketpraxis.webapp.sessionurl</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 
	// sonst packt er zwei mal
	getResourceSettings().setDisableGZipCompression(true);
	 -->
	<filter-mapping>
		<filter-name>de.wicketpraxis.webapp.pjl</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- optional filter end -->

	<filter-mapping>
		<filter-name>de.wicketpraxis.webapp</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>de.wicketpraxis.apps.session</filter-name>
		<url-pattern>/apps/session/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>de.wicketpraxis.apps.example</filter-name>
		<url-pattern>/apps/example/*</url-pattern>
	</filter-mapping>


</web-app>
