a.OK, a.INFO, a.CANCEL
{
	text-decoration: none;	
	display:inline-table;

  background-repeat:no-repeat;
  background-position:2px 4px;
  padding:3px;
  padding-left:20px;
  padding-right:4px;
  
  display: inline-table;
}

a.OK
{
  background-color:#529214;
  border:1px solid #497024;
  color:#fff;
  
  background-image:url("OK.png");
}

a.OK:hover
{
  background-color:#E6EFC2;
  border:1px solid #C6D880;
  color:#529214;
}

a.INFO
{
	border:1px solid #d92;
	background-color: #ff2;
	color:#a60;
	
  padding-left:14px;
	background-image:url("INFO.png");
}

a.INFO:hover
{
	border:1px solid #fd0;
	background-color: #ff8;
	color:#c70;
}

a.CANCEL
{
  background-color:#d12f19;
  border:1px solid #842013;
  color:white;
  
  background-image:url("CANCEL.png");
}

a.CANCEL:hover
{
  background-color:#fbe3e4;
  border:1px solid #fbc2c4;
  color:#d12f19;
}
